<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>DTXcodeBuildDistribution</key>
	<string>14C18</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>DTXcodeBuild</key>
	<string>14C18</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UnityCloudProjectID</key>
	<string/>
	<key>CADisableMinimumFrameDuration</key>
	<false/>
	<key>UnityNotificationRequestAuthorizationOnAppLaunch</key>
	<true/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<false/>
	<key>UISupportedDevices</key>
	<array>
		<string>MacFamily20,1</string>
		<string>RealityFamily22,1</string>
		<string>iPad11,1</string>
		<string>iPad11,2</string>
		<string>iPad11,3</string>
		<string>iPad11,4</string>
		<string>iPad13,1</string>
		<string>iPad13,10</string>
		<string>iPad13,11</string>
		<string>iPad13,16</string>
		<string>iPad13,17</string>
		<string>iPad13,2</string>
		<string>iPad13,4</string>
		<string>iPad13,5</string>
		<string>iPad13,6</string>
		<string>iPad13,7</string>
		<string>iPad13,8</string>
		<string>iPad13,9</string>
		<string>iPad14,1</string>
		<string>iPad14,2</string>
		<string>iPad14,3-A</string>
		<string>iPad14,3-B</string>
		<string>iPad14,4-A</string>
		<string>iPad14,4-B</string>
		<string>iPad14,5-A</string>
		<string>iPad14,5-B</string>
		<string>iPad14,6-A</string>
		<string>iPad14,6-B</string>
		<string>iPad6,3</string>
		<string>iPad6,4</string>
		<string>iPad7,1</string>
		<string>iPad7,2</string>
		<string>iPad7,3</string>
		<string>iPad7,4</string>
		<string>iPad8,1</string>
		<string>iPad8,10</string>
		<string>iPad8,11</string>
		<string>iPad8,12</string>
		<string>iPad8,2</string>
		<string>iPad8,3</string>
		<string>iPad8,4</string>
		<string>iPad8,5</string>
		<string>iPad8,6</string>
		<string>iPad8,7</string>
		<string>iPad8,8</string>
		<string>iPad8,9</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>15A240a</string>
	<key>UnityAddRemoteNotificationCapability</key>
	<true/>
	<key>CFBundleName</key>
	<string>TerraformingMars</string>
	<key>UnityRemoteNotificationForegroundPresentationOptions</key>
	<integer>-1</integer>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>de</string>
		<string>es</string>
		<string>it</string>
		<string>sv</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Terraforming Mars</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>UILaunchStoryboardName~ipod</key>
	<string>LaunchScreen-iPhone</string>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>20C52</string>
	<key>DTXcode</key>
	<string>1420</string>
	<key>UILaunchStoryboardName~iphone</key>
	<string>LaunchScreen-iPhone</string>
	<key>DTSDKName</key>
	<string>iphoneos16.2</string>
	<key>CFBundleVersion</key>
	<string>130062</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UnityCrashSubmissionURL</key>
	<string/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>UnityNotificationDefaultAuthorizationOptions</key>
	<integer>7</integer>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.465082586681-jeuq7g3kb9qd0oiu8l2fjv7kuagemo21</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.asmodee-digital.terraformingmars</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.asmodee-digital.terraformingmars</string>
		</dict>
	</array>
	<key>UnityUseAPSReleaseEnvironment</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.asmodee-digital.terraformingmars</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The app requires access to Photos to save media to it.</string>
	<key>CFBundleExecutable</key>
	<string>TerraformingMars</string>
	<key>CrashlyticsUnityVersion</key>
	<string>2021.3.12f1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<string>false</string>
	<key>BuildMachineOSBuild</key>
	<string>22C65</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UILaunchStoryboardName~ipad</key>
	<string>LaunchScreen-iPad</string>
	<key>UnityNotificationRequestAuthorizationForRemoteNotificationsOnAppLaunch</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
		<string>metal</string>
		<string>gamekit</string>
	</array>
	<key>Unity_LoadingActivityIndicatorStyle</key>
	<integer>-1</integer>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>20C52</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen-iPhone</string>
	<key>DTPlatformVersion</key>
	<string>16.2</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>UnityUseLocationNotificationTrigger</key>
	<false/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
</dict>
</plist>